*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{

font-family:'Poppins',sans-serif;

background:#050609;

color:white;

}


/* NAVBAR */

.navbar{

    background:#050609;

    box-shadow:0 5px 15px rgba(0,0,0,.25);

    padding:15px 0;

}

.navbar-brand{

    font-size:1.4rem;

    font-weight:700;

}

.logo{

width:65px;

}


.logo-title{

color:#f4d367;

font-weight:700;

}



.logo-subtitle{

color:white;

}



.nav-link{

    color:#fff !important;

    margin-left:15px;

    transition:.3s;

}

.nav-link:hover{

    color:#f4d367 !important;

}





/* HEADER */


.contact-header{

padding-top:180px;

padding-bottom:80px;

text-align:center;

}



.contact-header h1{

font-size:75px;

font-weight:800;

}



.contact-header span{

color:#f4d367;

}



.contact-header p{

font-size:20px;

}







/* CONTACT CARDS */


.contact-section{

padding:70px 0;

}



.contact-card{

background:#020406;

padding:30px;

border-radius:20px;

text-align:center;

transition:.35s;

}



.contact-card:hover{

transform:translateY(-10px);

box-shadow:0 15px 30px rgba(250,204,21,.25);

}




.contact-image{

width:200px;

height:200px;

object-fit:cover;

border-radius:50%;

margin-bottom:25px;

}



.contact-card h2{

color:white;

}



.contact-card h5{

color:#f4d367;

margin-bottom:20px;

}



.contact-card p{

color:white;

}



.contact-card i{

color:#f4d367;

margin-right:10px;

}





/* SOCIAL MEDIA */


.social-section{

padding:70px 0;

}



.social-section h2{

color:#f4d367;

font-size:40px;

}



.social-section p{

color:white;

}



.social-icons{

margin-top:30px;

}



.social-icons a{

font-size:40px;

color:white;

margin:0 20px;

transition:.3s;

}



.social-icons a:hover{

color:#00d4ff;

transform:translateY(-8px);

}







/* FOOTER */

main-footer{

    background:#050609;

    padding:60px 0 20px;

    color:white;

}




.footer-title{

    color:#f4d367;

    font-size:30px;

    font-weight:700;

    margin-bottom:15px;

}



.footer-heading{

    color:#f4d367;

    font-size:18px;

    font-weight:600;

    margin-bottom:20px;

}




.footer-text{

    color:white;

    font-size:14px;

    line-height:1.8;

}





/* FOOTER LINKS */


.footer-links{

    list-style:none;

    padding:0;

}



.footer-links li{

    margin-bottom:10px;

}



.footer-links a{

    color:white;

    text-decoration:none;

    transition:.3s;

}



.footer-links a:hover{

    color:#f4d367;

    padding-left:5px;

}







/* LOGOS */


.footer-logo{

    width:150px;

    height:100px;

    object-fit:contain;

    margin-bottom:10px;

}







/* BOTTOM */


.footer-bottom{

    margin-top:40px;

    padding-top:20px;

    border-top:#f4d367;

    text-align:center;

}



.footer-bottom p{

    color:white;

    font-size:13px;

    margin:0;

}





@media(max-width:768px){


.main-footer{

    text-align:center;

}


.footer-title{

    font-size:26px;

}


}
